/* -------------------------------------------------------------------- */
/*                              HEADER                                  */
/* -------------------------------------------------------------------- */

#header {
    position: absolute;
    top: 25px;
    left: 25px;
    right: 25px;
    height: 50px;
}

#header #logo {
    float: left
}

#header #compLogo {
    float: right;
}

/* -------------------------------------------------------------------- */
/*                              CONTENT                                 */
/* -------------------------------------------------------------------- */

#content table tbody tr a {
    color: grey;
}

.pandas_describe {
    font-size: 12px;
}

.pandas_describe table td {
    font-size: 12px;
    padding-bottom: 4px;
    padding-top: 4px;
}

#content {
    font-size: 16px;
    width: 100%;
    top: 100px;
    left: 25px;
    right: 25px;
    bottom: 25px;
}

#content #table {
    width: 90%;
    font-family: sans-serif;
}

#content table th {
    text-align: center;
}

#content table td {
    height: 30px;
    text-align: center;
    vertical-align: middle;
    color: grey;
}

#content table thead tr a {
    color: white;
}

#content table th[scope="row"] a {
    color: black;
}

#content table tr:hover {
    background-color: #f0f0f0;
}

#content table .deviceMode {
    margin: auto;
    height: 25px;
    width: 80%;
    vertical-align: middle;
    line-height: 25px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

#content table i {
    margin: auto;
    height: 25px;
    width: 25px;
    vertical-align: middle;
    line-height: 25px;
    border-radius: 5px;
    color: white;
}

#terminal pre {
    margin: 20px;
	font-family: monospace;
}

.log-filename {
    color: #a5a5a5;
    font-weight: bold;
}

.TRACE {
    font-weight: bold;
    color: #87AFFF;
}

.DEBUG {
    font-weight: bold;
    color: green;
}

.INFO {
    font-weight: bold;
    color: black;
}

.WATCHDOG_INFO {
    font-weight: bold;
    color: #0f66ff;
}


.WARNING {
    font-weight: bold;
    color: orange;
}

.ERROR {
    font-weight: bold;
    color: red;
}

.CRITICAL {
    font-weight: bold;
    color: #AF0000;
}

.NORM {
    background-color: #d5d5d5;
}

.FULL {
    background-color: #b3d67e;
}

.NORM:hover {
    background-color: #a5a5a5;
}

.FULL:hover {
    background-color: #88b04b;
}

.ON {
    background-color: #b3d67e;
}

.OFF {
    background-color: #d5d5d5;
}

.HEALTHY {
    background-color: #b3d67e;
}

.IN_TROUBLE {
    background-color: #ff8d00;
}


.SICK {
    background-color: #fb6671;
}
