<script>
function drawPlot(data)
{
    console.log('drawPlot: ', data);
    for (const field of data.fields)
    {
        $(`div[data-ajaxid="${data.id}"][data-fieldname="${field.fieldname}"]`).html(field.html);
    }
}

function requestPlots(plot_url)
{
    var plot_data = {{ajax_plot_list|ajax_plots_to_json|safe}};
    console.log(plot_data);

    for (const plot of plot_data)
    {
        console.log('requestPlots: ', plot);
        $.ajax(plot_url,
        {
            data: JSON.stringify(plot),
            contentType: 'application/json',
            type: 'POST'
        }
        ).done(drawPlot);
    }
}

$(document).ready( function() {
    requestPlots({{ url_for('_get_plot')|tojson }});
});
</script>
