<div class="container-fluid toolbar">
    
    <div class="btn-group" style="align-items: center;">
        <span class="label">Device:</span>
        <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown">
            <span id="device_id">{{request.view_args.device|or_else("ALL")}}</span>
        </button>
        <div class="dropdown-menu">
            {% for device in ["ALL"] + all_devices %}
            <a class="dropdown-item" href="{{url_for_self(device=device, start_date=start_date, end_date=end_date, sensor=sensor)}}">{{device}}</a>
            {% endfor%}
        </div>
    </div>

    <span class="label">Time range:</span>
    <span id="reportrange">
        <i class="fa fa-calendar"></i>&nbsp;
        <span></span>
        <i class="fa fa-caret-down"></i>
    </span>


    <div class="btn-group" style="align-items: center;">
        <span class="label">Sensor:</span>
        <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown">
            <span id="sensor_type">{{request.view_args.sensor|or_else("temperature")}}</span>
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="{{url_for_self(device=device, start_date=start_date, end_date=end_date, sensor='ALL')}}">ALL</a>
            {% for sensor in all_sensors %}
            <a class="dropdown-item" href="{{url_for_self(device=device, start_date=start_date, end_date=end_date, sensor=sensor)}}">{{sensor}}</a>
            {% endfor %}
        </div>
    </div>
</div>