<nav class="navbar navbar-expand-md navbar-light bg-white navbar-fixed-top">
    <div class="container">
        <div class="navbar-brand" id="logo"><img src={{ url_for('static', filename = 'img/repro-logo.png') }} height="50px"/></div>

        <div id="navbar" class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Dashboard <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/sensors">Sensors</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown">Time series</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href=/sensors/presence>Presence</a>
                        <a class="dropdown-item" href=/sensors/temperature>Temperature</a>
                        <a class="dropdown-item" href=/sensors/humidity>Humidity</a>
                        <a class="dropdown-item" href=/sensors/pressure>Pressure</a>
                        <a class="dropdown-item" href=/sensors/gas>Gas</a>
                        <a class="dropdown-item" href=/sensors/brightness>Brightness</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown">Statistics</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href=/statistics/mode>Mode</a>
                        <a class="dropdown-item" href=/statistics/mouse>Mouse gestures</a>
                        <a class="dropdown-item" href=/statistics/switch_cycles>On/Off Cycles</a>
                        <a class="dropdown-item" href=/statistics/database_delay>Database Delay</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown">System</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href=/system/crashes>Stability</a>
                        <a class="dropdown-item" href=/system/version>Restarts</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/monitor">Monitor</a>
                </li>
            </ul>
        </div>
        <div id="company-logo"><img src={{ url_for('static', filename = 'img/dot_bartenbach.png') }} height="50px"/></div>
    </div>
</nav>