<nav class="site-header sticky-top navbar navbar-expand-md navbar-fixed-top">
    <div class="container">
        <a href="https://www.repro-light.eu">
            <div class="navbar-brand" id="logo">
                <img src={{ url_for('static', filename = 'img/ReproLight_trans.png') }} height="50px"/>
            </div>
        </a>

        <div id="navbar" class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/sensors">Sensors</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Time series</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href=/sensors/presence>Presence</a>
                        <a class="dropdown-item" href=/sensors/temperature>Temperature</a>
                        <a class="dropdown-item" href=/sensors/humidity>Humidity</a>
                        <a class="dropdown-item" href=/sensors/pressure>Pressure</a>
                        <a class="dropdown-item" href=/sensors/gas>Gas</a>
                        <a class="dropdown-item" href=/sensors/brightness>Brightness</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Statistics</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href=/statistics/mode>Mode</a>
                        <a class="dropdown-item" href=/statistics/mouse>Mouse gestures</a>
                        <a class="dropdown-item" href=/statistics/switch_cycles>On/Off Cycles</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">System</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href=/system/crashes>Stability</a>
                        <a class="dropdown-item" href=/system/version>Restarts</a>
                        <a class="dropdown-item" href="/monitor">Logs</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Database</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href=/statistics/database_delay>Delay</a>
                        <a class="dropdown-item" href=/database/size>Size</a>
                    </div>
                </li>
            </ul>
        </div>
        <a href="https://www.bartenbach.com/"><div id="company-logo"><img src={{ url_for('static', filename = 'img/dot_bartenbach.png') }} height="50px"/></div></a>
    </div>
</nav>