{% extends 'layout.html' %}

{% block head %}
{{ js_resources|indent(4)|safe }}
{{ css_resources|indent(4)|safe }}
{% endblock %}

{% block page_title %}
<h1>Mouse Analytics</h1>
{% endblock %}

{% block body %}
<div id="content">
  <div style="margin:20px">
  </div>
  <table id="data-table" class="table">
    <thead class="thead-dark" style="position: sticky; top: 0">
    <tr>
        <th>Device ID</th>
        <th>Mouse data</th>
        <th>Download</th>
    </tr>
    </thead>
  {% for plot in ajax_plot_list %}
  <tr>
    <th scope="row">{{plot.parameters.device}}</th>
    <td><div align="center">{{plot.field.plot|safe}}</div></td>
    <td>{{plot.field.download|safe}}</td>
  </tr>
  {% endfor %}
  </table>
</div>
{% endblock %}

{% block script %}
{% include 'includes/_data_table.html' %}
{% include 'includes/_ajax_plot.html' %}
{% endblock script %}