{% extends 'layout.html' %}

{% block head %}
{{ js_resources|indent(4)|safe }}
{{ css_resources|indent(4)|safe }}
{% endblock %}

{% block page_title %}
<h1>Scene Analytics</h1>
{% endblock %}

{% block body %}
<div id="content">
  <table id="data-table" class="table">
    <thead class="thead-dark">
    <tr>
        <th>Device ID</th>
        <th>Scene durations</th>
    </tr>
    </thead>
  {% for plot in ajax_plot_list %}
  <tr>
    <th scope="row">{{plot.parameters.device}}</th>
    <td><div align="center">{{plot.html|safe}}</div></td>
  </tr>
  {% endfor %}
  </table>
</div>
{% endblock %}

{% block script %}
{% include 'includes/_data_table.html' %}
{% include 'includes/_ajax_plot.html' %}
{% endblock script %}