{% extends 'layout.html' %}

{% block head %}
{% endblock %}

{% block page_title %}
<h1>Show logs</h1>
{% endblock %}

{% block page_navigation %}
<div class="container-fluid">
    <div class="d-flex justify-content-between toolbar">
        <div>
            <div class="btn-group" style="align-items: center;">
                <span class="label">Device:</span>
                <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown">
                    {{request.view_args.device}}
                </button>
                <div class="dropdown-menu">
                    {% for device in devices %}
                    <a class="dropdown-item" href="{{url_for_self(device=device)}}">{{device}}</a>
                    {% endfor %}
                </div>
            </div>
            <div class="btn-group" style="align-items: center;">
                <span class="label">Logging&nbsp;level:</span>
                <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown">
                    <span class="{{request.view_args.log_level|or_else("TRACE")}}">{{request.view_args.log_level|or_else("TRACE")}}</span>
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item TRACE" href="{{url_for_self(log_level='TRACE')}}">TRACE</a>
                    <a class="dropdown-item DEBUG" href="{{url_for_self(log_level='DEBUG')}}">DEBUG</a>
                    <a class="dropdown-item INFO" href="{{url_for_self(log_level='INFO')}}">INFO</a>
                    <a class="dropdown-item WARNING" href="{{url_for_self(log_level='WARNING')}}">WARNING</a>
                    <a class="dropdown-item ERROR" href="{{url_for_self(log_level='ERROR')}}">ERROR</a>
                    <a class="dropdown-item CRITICAL" href="{{url_for_self(log_level='CRITICAL')}}">CRITICAL</a>
                </div>
            </div>

            <div class="btn-group" style="align-items: center;">
            <span class="label">At&nbsp;time:</span>
            <input type="text" name="datetime" onkeydown="change_date(this)" value="{{request.view_args.timestamp|datetime}}">
            </div>

            <div class="btn-group" style="align-items: center;">
                <span class="label">Duration:</span>
                <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown">
                {{request.view_args.duration|or_else(5)|format_duration}}
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{{url_for_self(duration=5)}}">5 minutes</a>
                    <a class="dropdown-item" href="{{url_for_self(duration=10)}}">10 minutes</a>
                    <a class="dropdown-item" href="{{url_for_self(duration=30)}}">30 minutes</a>
                    <a class="dropdown-item" href="{{url_for_self(duration=60)}}">1 hour</a>
                    <a class="dropdown-item" href="{{url_for_self(duration=12*60)}}">12 hours</a>
                    <a class="dropdown-item" href="{{url_for_self(duration=24*60)}}">1 day</a>
                </div>
            </div>
        </div>

        {% include 'includes/_pagination.html' %}
    </div>
</div>
{% endblock %}

{% block body %}
<div id="terminal">
    <pre>{{log_text|safe}}</pre>
</div>
<div class="container-fluid  border-top fixed-bottom">
    <div class="d-flex justify-content-end toolbar">
        {% include 'includes/_pagination.html' %}
    </div>
</div>
{% endblock %}

{% block script %}
<script>
function change_date(input_element) {
    if(event.keyCode == 13) {
        window.location = "{{url_for_self(timestamp=None)}}" + "/" + input_element.value;
    }
};
</script>
{% endblock script %}
