{% extends 'layout.html' %}

{% block head %}
{% endblock %}

{% block page_title %}
<h1>Show logs</h1>
{% endblock %}

{% block page_navigation %}
<div class="container-fluid">
    <div class="container-fluid toolbar">
        <span class="label">Device:</span>
        <div class="btn-group">
            <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown">
                {{request.view_args.device}}
            </button>
            <div class="dropdown-menu">
                {% for device in devices %}
                <a class="dropdown-item" href="{{url_for_self(device=device)}}">{{device}}</a>
                {% endfor %}
            </div>
        </div>
        <span class="label">Logging level:</span>
        <div class="btn-group">
            <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown">
                <span class="{{request.view_args.log_level|or_else("TRACE")}}">{{request.view_args.log_level|or_else("TRACE")}}</span>
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item TRACE" href="{{url_for_self(log_level='TRACE')}}">TRACE</a>
                <a class="dropdown-item DEBUG" href="{{url_for_self(log_level='DEBUG')}}">DEBUG</a>
                <a class="dropdown-item INFO" href="{{url_for_self(log_level='INFO')}}">INFO</a>
                <a class="dropdown-item WARNING" href="{{url_for_self(log_level='WARNING')}}">WARNING</a>
                <a class="dropdown-item ERROR" href="{{url_for_self(log_level='ERROR')}}">ERROR</a>
                <a class="dropdown-item CRITICAL" href="{{url_for_self(log_level='CRITICAL')}}">CRITICAL</a>
            </div>
        </div>
        <span class="label">At time:</span>
        <span id="reportrange">
            <i class="fa fa-calendar"></i>&nbsp;
            {{request.view_args.timestamp|datetime}}
            <i class="fa fa-caret-down"></i>
        </span>
        <span class="label">Duration:</span>
        <div class="btn-group">
            <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown">
            {{request.view_args.duration|or_else(5)|format_duration}}
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="{{url_for_self(duration=5)}}">5 minutes</a>
                <a class="dropdown-item" href="{{url_for_self(duration=10)}}">10 minutes</a>
                <a class="dropdown-item" href="{{url_for_self(duration=30)}}">30 minutes</a>
                <a class="dropdown-item" href="{{url_for_self(duration=60)}}">1 hour</a>
                <a class="dropdown-item" href="{{url_for_self(duration=12*60)}}">12 hours</a>
                <a class="dropdown-item" href="{{url_for_self(duration=24*60)}}">1 day</a>
            </div>
        </div>
        {% include 'includes/_pagination.html' %}
        <!--<div class="float-right">
            <nav>
                <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="#prev">previous</a></li>
                    <li class="page-item"><a class="page-link" href="#1">1</a></li>
                    <li class="page-item"><a class="page-link" href="#2">2</a></li>
                    <li class="page-item"><a class="page-link" href="#3">3</a></li>
                    <li class="page-item"><a class="page-link" href="#4">4</a></li>
                    <li class="page-item"><a class="page-link" href="#5">5</a></li>
                    <li class="page-item"><a class="page-link" href="#6">6</a></li>
                    <li class="page-item"><a class="page-link" href="#7">7</a></li>
                    <li class="page-item"><a class="page-link" href="#8">8</a></li>
                    <li class="page-item"><a class="page-link" href="#9">9</a></li>
                    <li class="page-item"><a class="page-link" href="#10">10</a></li>
                    <li class="page-item"><a class="page-link" href="#11">11</a></li>
                    <li class="page-item"><a class="page-link" href="#next">next</a></li>
                </ul>
            </nav>
        </div>-->
    </div>
</div>
{% endblock %}

{% block body %}
<div id="terminal">
    <pre>{{log_text|safe}}</pre>
</div>
<div class="container-fluid toolbar">
    {% include 'includes/_pagination.html' %}
</div>
{% endblock %}

{% block script %}
<script>
$(function() {
    var timestamp = "{{request.view_args.timestamp }}";

    function cb(start, end) {
        $('#reportrange span').html(start.format('YYYY-MM-DD HH:mm:ss'));
        window.location = "{{url_for_self(timestamp=None)}}" + "/" + start.format('YYYY-MM-DD HH:mm:ss');
    }

    $('#reportrange').daterangepicker({
        singleDatePicker: true,
        timePicker: true,
        timePicker24Hour: true,
        showDropdowns: true,
        minYear: 2020,
        maxYear: 2022,
    }, cb);

    cb(start, end);

    var CLASS_DISABLED = "disabled",
      CLASS_ACTIVE = "active",
      CLASS_SIBLING_ACTIVE = "active-sibling",
      DATA_KEY = "pagination";

  $(".pagination").each(initPagination);

  function initPagination() {
    var $this = $(this);

    $this.data(DATA_KEY, $this.find("li").index(".active"));

    $this.find(".prev").on("click", navigateSinglePage);
    $this.find(".next").on("click", navigateSinglePage);
    $this.find("li").on("click", function() {
      var $parent = $(this).closest(".pagination");
      $parent.data(DATA_KEY, $parent.find("li").index(this));
      changePage.apply($parent);
    });
  }

  function navigateSinglePage() {
    if(!$(this).hasClass(CLASS_DISABLED)) {
      var $parent = $(this).closest(".pagination"),
          currActive = parseInt($parent.data("pagination"), 10);

      currActive += 1 * ($(this).hasClass("prev") ? -1 : 1);
      $parent.data(DATA_KEY, currActive);

      changePage.apply($parent);
    }
  }

  function changePage(currActive) {
    var $list = $(this).find("li"),
        currActive = parseInt($(this).data(DATA_KEY), 10);

    $list.filter("."+CLASS_ACTIVE).removeClass(CLASS_ACTIVE);
    $list.filter("."+CLASS_SIBLING_ACTIVE).removeClass(CLASS_SIBLING_ACTIVE);

    $list.eq(currActive).addClass(CLASS_ACTIVE);

    if(currActive === 0) {
      $(this).find(".prev").addClass(CLASS_DISABLED);
    } else {
      $list.eq(currActive-1).addClass(CLASS_SIBLING_ACTIVE);
      $(this).find(".prev").removeClass(CLASS_DISABLED);
    }

    if(currActive == ($list.length - 1)) {
      $(this).find(".next").addClass(CLASS_DISABLED);
    } else {
      $(this).find(".next").removeClass(CLASS_DISABLED);
    }
  }
});
</script>
{% endblock script %}
