{% extends 'layout.html' %}

{% block page_title %}
<h1>{{messages}}</h1>
{% endblock %}

{% block body %}
<div id="content">
  <table id="data-table" class="table">
    <thead class="thead-dark">
    <tr>
        <th>Device ID</th>
        <th>{{messages}}</th>
    </tr>
    </thead>
  {% for device, error_table in data.items() %}
  <tr>
    <th scope="row"> <a href="{{url_for_self(device=device)}}">{{device}}</a></th>
    <td><div class="pandas_describe" align="left">{{error_table}}</div></td>
  </tr>
  {% endfor %}
  </table>
</div>
{% endblock %}

{% block script %}
{% include 'includes/_data_table.html' %}
<script>
    $(document).ready( function () {
        $('.error-table').DataTable({
            "paging": true,
            "info": false,
            "order": [[ 0, "desc" ]],
            stateSave: false,
        });
    } );
</script>
{% endblock script %}