{% extends 'layout.html' %}

{% block page_title %}
<h1>Dashboard</h1>
{% endblock %}

{% block body %}
<div id="content">
<table id="data-table" class="table">
    <thead class="thead-dark">
    <tr>
        <th>Device ID</th>
        <th>Device Mode</th>
        <th>Last Connection</th>
        <th colspan="2">Health Status</th>
    </tr>
    </thead>
    <tbody>
        {% for index, ptl in data.iterrows() %}
        <tr>
            <th scope="row"> {{ptl.device}}</th>
            <td>
                <div class="deviceMode {{'NORM' if ptl.study_mode == 'NORM' else 'FULL'}}" data-id="{{ptl.device}}" data-mode="{{ptl.study_mode}}">
                    {{ptl.study_mode}}
                </div>
            </td>
            <td>{{ ptl.offline_duration|none }}</td>
            <td><i class="fa fa-heartbeat {{ ptl.health_status}}"></i></td>
            <td>{{ ptl.sick_reason }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock body %}

{% block script %}
{% include 'includes/_data_table.html' %}
{% endblock script %}