{% extends 'layout.html' %}

{% block body %}

<div id="content">
<table style="width:100%">
    <tr>
        <th>Device ID</th>
        <th>Device Mode</th>
        <th>Device State</th>
        <th>Lighting Mode</th>
        <th>Since</th>
        <th>Lighting Changes</th>
        <th>Mouse Movements</th>
        <th>Last Connection</th>
        <th>Health Status</th>
    </tr>
    {% for ptl in dashboard%}
    <tr>
    <td> {{ptl.device}}</td>
    <td><div class="deviceMode {{'NORM' if ptl.mode == 'NORM' else 'FULL'}}" data-id="{{ptl.device}}" data-mode="{{ptl.mode}}">{{ptl.mode}}</div></td>
    <td><i class="fa fa-lightbulb-o {{'OFF' if ptl.mode == 'OFF' else 'ON'}}"></i></td>
    <td>{{_str(ptl.mode)}}</td>
    <td>{{_time_span(ptl.since)}}</td>
    <td>{{_number(ptl.light_count)}}</td>
    <td>{{_number(ptl.mouse_count)}}</td>
    <td>{{ptl.last_update}}</td>
    <td><i class="fa fa-heartbeat SICK"></i></td>
    </tr>
    {% endfor %}
</table>
</div>
{% endblock %}