{% extends 'layout.html' %}

{% block head %}
{{ js_resources|indent(4)|safe }}
{{ css_resources|indent(4)|safe }}
{% endblock %}

{% block page_title %}
<h1>Timeseries for sensor data</h1>
{% endblock %}

{% block page_navigation %}
{% include 'includes/_date_range_new.html' %}
{% endblock%}


{% block body %}
<div id="content">
<table id="data-table" class="table">
    <thead class="thead-dark">
    <tr>
        <th>Device ID</th>
        <th>Time series</th>
        <th>Download</th>
    </tr>
    </thead>
    {% for plot in ajax_plot_list %}
    <tr>
        <th scope="row"><a href={{url_for_self(device=plot.parameters.device, start_date=start_date, end_date=end_date, sensor="ALL")}}>{{plot.parameters.device}}</a></th>
        <td><div align="center">{{plot.field.plot|safe }}</div></td>
        <td>{{plot.field.download|safe}}</td>
    </tr>
    {% endfor %}
</table>
</div>
{% endblock body %}

{% block script %}
{% include 'includes/_data_table.html' %}
{% include 'includes/_ajax_plot.html' %}
<script>
 $(function() {
    // Set initial time range for database query
    var start_date = '{{start_date}}';
    var end_date = '{{end_date}}';
    var range_start = moment(start_date);
    var range_end = moment(end_date);
    console.log("Date range: ", range_start, range_end);

    function format_range(start, end)
    {
        $('#reportrange span').html(start.format('YYYY-MM-DD') + ' - ' + end.format('YYYY-MM-DD'));
        range_start = start;
        range_end = end;
    }

    // Callback for time range picker
    function cb(start, end) {
        format_range(start, end);
        run_query();
    }

    function run_query()
    {
        var device = document.getElementById('device_id').textContent;
        var sensor = document.getElementById('sensor_type').textContent;
        var start = range_start.format("YYYY-MM-DD");
        var end = range_end.format("YYYY-MM-DD");
        var url_template = '{{url_for_self(device='device_template', start_date='start_date_template', end_date='end_date_template', sensor='sensor_template')}}';
        url = url_template.replace('device_template', device)
                          .replace('start_date_template', start)
                          .replace('end_date_template', end)
                          .replace('sensor_template', sensor);
        console.log("URL_template: ", url);
        var loc = window.location;
        var currentURL = loc.protocol + '//' + loc.host
        window.location = currentURL + url;
    }

    $('#reportrange').daterangepicker({
        timePicker: false,
        startDate: range_start,
        endDate: range_end,
        ranges: {
           // Predefined time ranges
           'Today': [moment().startOf('day'), moment().endOf('day')],
           'Yesterday': [moment().subtract(1, 'days').startOf('day'), moment().subtract(1, 'days').endOf('day')],
           'Last 2 days': [moment().subtract(2, 'days').startOf('day'), moment()],
           'Last week': [moment().subtract(6, 'days').startOf('day'), moment()]
        }
    }, cb);

    format_range(range_start, range_end);
});
</script>
{% endblock script %}