{% extends 'layout.html' %}

{% block body %}

<div id="content">
<h1>Latest environment sensor readings</h1>
<table class="table">
    <thead class="thead-dark">
    <tr>
        <th>Device ID</th>
        <th><a href="sensors/temperature">Temperature</a></th>
        <th><a href="sensors/humidity">Humidity</a></th>
        <th><a href="sensors/pressure">Pressure</a></th>
        <th><a href="sensors/gas">Gas</a></th>
        <th><a href="sensors/brightness">Brightness</a></th>
        <!--<th>Loundness</th>-->
    </tr>
    </thead>
    {% for ptl in sensors%}
    <tr>
        <td> {{_str(ptl.device)}}</td>
        <td> {{_unit(ptl.temperature, ptl.temperature_unit)}}</td>
        <td> {{_unit(ptl.humidity, ptl.humidity_unit)}}</td>
        <td> {{_unit(ptl.pressure, ptl.pressure_unit)}}</td>
        <td> {{ptl.gas}} {{_unit(ptl.gas_amount, ptl.gas_unit)}}</td>
        <td> {{_unit(ptl.brightness, ptl.brightness_unit)}}</td>
        <!--<td> {{_unit(ptl.loudness, ptl.loudness_unit)}}</td>-->
    </tr>
    {% endfor %}
</table>
</div>
{% endblock %}