{% extends 'layout.html' %}

{% block head %}
<script src={{ url_for('static', filename = 'Chart.min.js') }}></script>
{% endblock %}

{% block body %}
<div id="content">
  <table class="table">
      <thead class="thead-dark">
      <tr>
          <th>Device ID</th>
          <th>Auto</th>
          <th>Off</th>
          <th>Manual</th>
          <th>Light Shower</th>
          <th>Chart</th>
      </tr>
      </thead>
      {% for ptl in data %}
      <tr>
      <td> {{ptl.device}}</td>
      <td>{{_str(ptl.auto)}}</td>
      <td>{{_str(ptl.off)}}</td>
      <td>{{_str(ptl.manual)}}</td>
      <td>{{_str(ptl.light_shower)}}</td>
      <td><canvas id="chart_{{ptl.device}}" width="100" height="100"></canvas></td></td>
      </tr>
      {% endfor %}
  </table>
</div>
<script>
  // do not resize the chart canvas when its container does
  Chart.defaults.global.responsive = false;
  
  {% for ptl in data %}
  
  // define the chart data
  var chart_data_{{ptl.device}} = {
    labels : ["Auto", "Off", "Manual", "Light Shower"],
    datasets : [{
        label: "{{ptl.device}}",
        fill: true,
        lineTension: 0.1,
        borderCapStyle: 'butt',
        borderDash: [],
        borderDashOffset: 0.0,
        borderJoinStyle: 'miter',
        pointBorderColor: "rgba(75,192,192,1)",
        pointBackgroundColor: "#fff",
        pointBorderWidth: 1,
        pointHoverRadius: 5,
        pointHoverBackgroundColor: "rgba(75,192,192,1)",
        pointHoverBorderColor: "rgba(220,220,220,1)",
        pointHoverBorderWidth: 2,
        pointRadius: 1,
        pointHitRadius: 10,
        data : [2,6,5,2],
        spanGaps: false
    }]
  }
  
  // get chart canvas
  var ctx_{{ptl.device}} = document.getElementById("chart_{{ptl.device}}").getContext("2d");
  
  // create the chart using the chart canvas
  var chart_{{ptl.device}} = new Chart(ctx_{{ptl.device}}, {
    type: 'pie',
    data: chart_data_{{ptl.device}},
  });
  {% endfor %}
{% endblock %}

{% block script %}

  {% endblock %}
  </script>
  