{% extends 'layout.html' %}

{% block head %}
<script src='static/Chart.min.js'></script>
{% endblock %}

{% block body %}
<div id="content">
  <table class="table">
      <thead class="thead-dark">
      <tr>
          <th>Device ID</th>
          <th>Auto</th>
          <th>Off</th>
          <th>Manual</th>
          <th>Light Shower</th>
      </tr>
      </thead>
      {% for ptl in data %}
      <tr>
      <td> {{ptl.device}}</td>
      <td>{{_str(ptl.auto)}}</td>
      <td>{{_str(ptl.off)}}</td>
      <td>{{_str(ptl.manual)}}</td>
      <td>{{_str(ptl.light_shower)}}</td>
      </tr>
      {% endfor %}
  </table>
</div>
{% endblock %}