{% extends 'layout.html' %}

{% block head %}
<script src={{ url_for('static', filename = 'Chart.min.js') }}></script>
{% endblock %}

{% block body %}
<div id="content">
  <table class="table">
    <thead class="thead-dark">
    <tr>
        <th>Device ID</th>
        <th>Auto</th>
        <th>Off</th>
        <th>Manual</th>
        <th>Light Shower</th>
        <th>Chart</th>
    </tr>
    </thead>
  {% for ptl in data %}
  <tr>
    <td> {{ptl['object'].device}}</td>
    <td>{{_str(ptl['object'].auto)}}</td>
    <td>{{_str(ptl['object'].off)}}</td>
    <td>{{_str(ptl['object'].manual)}}</td>
    <td>{{_str(ptl['object'].light_shower)}}</td>
    <td><canvas id="chart_{{ptl["legend"]}}" width="50" height="50"></canvas></td>
  </tr>
  {% endfor %}
  </table>
</div>


<script>
chart_colors = {
	red: 'rgb(255, 99, 132)',
	orange: 'rgb(255, 159, 64)',
	yellow: 'rgb(255, 205, 86)',
	green: 'rgb(75, 192, 192)',
	blue: 'rgb(54, 162, 235)',
	purple: 'rgb(153, 102, 255)',
	grey: 'rgb(201, 203, 207)'}

// Global parameters:
// do not resize the chart canvas when its container does (keep at 600x400px)
Chart.defaults.global.responsive = false;

{% for ptl in data %}
// define the chart data
var chartData_{{ptl["legend"]}} = {
datasets : [{
    label: '{{ptl["legend"]}}',
    fill: true,
    lineTension: 0.1,
    borderCapStyle: 'butt',
    borderDash: [],
    borderDashOffset: 0.0,
    borderJoinStyle: 'miter',
    pointBorderColor: "rgba(75,192,192,1)",
    pointBackgroundColor: "#fff",
    pointBorderWidth: 1,
    pointHoverRadius: 5,
    pointHoverBackgroundColor: "rgba(75,192,192,1)",
    pointHoverBorderColor: "rgba(220,220,220,1)",
    pointHoverBorderWidth: 2,
    pointRadius: 1,
    pointHitRadius: 10,
    data : [{% for item in ptl["values"] %}
              {{item}},
            {% endfor %}],
    backgroundColor: [
						chart_colors.green,
						chart_colors.gray,
						chart_colors.blue,
						chart_colors.yellow,
    ],
    spanGaps: false
}]
}

// get chart canvas
var ctx_{{ptl['legend']}} = document.getElementById("chart_{{ptl['legend']}}").getContext("2d");

// create the chart using the chart canvas
var myChart_{{ptl['legend']}} = new Chart(ctx_{{ptl['legend']}}, {
type: 'pie',
data: chartData_{{ptl['legend']}},
});
{% endfor %}
</script>
{% endblock %}
  