{% extends 'layout.html' %}

{% block head %}
{{ js_resources|indent(4)|safe }}
{{ css_resources|indent(4)|safe }}
{% for plot_script in scripts %}
{{ plot_script|indent(4)|safe }}
{% endfor %}
{% endblock %}

{% block page_title %}
<h1>Database insertion delay</h1>
{% endblock %}

{% block page_navigation %}
{% include 'includes/_date_range.html' %}
{% endblock %}

{% block body %}
<div id="content">
  <table id="data-table" class="table">
    <thead class="thead-dark">
    <tr>
        <th>Device ID</th>
        <th>Package Delay</th>
    </tr>
    </thead>
  {% for device, figure in figures.items() %}
  <tr>
    <th scope="row"> {{device}}</th>
    <td><div align="center">{{figure|safe}}</div></td>
  </tr>
  {% endfor %}
  </table>
</span>
{% endblock %}

{% block script %}
{% include 'includes/_data_table.html' %}
<script src={{ url_for('static', filename = 'js/date_range.js') }}></script>
{% endblock script %}