{% extends 'layout.html' %}

{% block head %}
<script src={{ url_for('static', filename = 'Chart.min.js') }}></script>
{% endblock %}

{% block body %}
<div id="content">
  <h1>Mouse gesture statistics</h1>
  <table id="data-table" class="table">
    <thead class="thead-dark">
    <tr>
        <th>Device ID</th>
        <th>Mouse gesture</th>
    </tr>
    </thead>
  {% for device, statistics_data in data.items() %}
  <tr>
    <th scope="row"> {{device}}</th>
    <td><div align="center">{{statistics_data|safe}}</div></td>
  </tr>
  {% endfor %}
  </table>
</div>
{% endblock %}

{% block script %}
{% include 'includes/_data_table.html' %}
{% endblock script %}