{% extends 'layout.html' %}

{% block head %}
{{ js_resources|indent(4)|safe }}
{{ css_resources|indent(4)|safe }}
{% for plot_script in scripts %}
{{ plot_script|indent(4)|safe }}
{% endfor %}
{% endblock %}

{% block body %}
<div id="content">
  <h1>Database insertion delay (last {{timespan}})</h1>
  <span id="reportrange" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width:30%">
    <i class="fa fa-calendar"></i>&nbsp;
    <span></span> <i class="fa fa-caret-down"></i>
  </span>
  <button type="button" class="btn btn-primary">Run Query</button>

  <table id="data-table" class="table">
    <thead class="thead-dark">
    <tr>
        <th>Device ID</th>
        <th>Package Delay</th>
    </tr>
    </thead>
  {% for device, figure in figures.items() %}
  <tr>
    <th scope="row"> {{device}}</th>
    <td><div align="center">{{figure|safe}}</div></td>
  </tr>
  {% endfor %}
  </table>
</span>
{% endblock %}

{% block script %}
{% include 'includes/_data_table.html' %}
<script type="text/javascript">
    $(function() {

        var start = moment().startOf('day');
        var end = moment();

        function cb(start, end) {
            $('#reportrange span').html(start.format('MMMM D, YYYY HH:mm') + ' - ' + end.format('MMMM D, YYYY HH:mm'));
        }

        $('#reportrange').daterangepicker({
            timePicker: true,
            timePicker24Hour: true,
            startDate: start,
            endDate: end,
            ranges: {
               'Today': [moment().startOf('day'), moment()],
               'Yesterday': [moment().subtract(1, 'days').startOf('day'), moment().subtract(1, 'days').endOf('day')],
               'Last 2 days': [moment().subtract(2, 'days').startOf('day'), moment()],
               'Last week': [moment().subtract(6, 'days').startOf('day'), moment()]
            }
        }, cb);

        cb(start, end);

    });
</script>
{% endblock script %}