{% extends 'layout.html' %}

{% block head %}
{{ js_resources|indent(4)|safe }}
{{ css_resources|indent(4)|safe }}
{% for script in scripts %}
{{ script|safe }}
{% endfor %}
{% endblock %}

{% block body %}
<div id="content">
  <h1>On/Off cycle statistics</h1>
  <table id="data-table" class="table">
    <thead class="thead-dark">
    <tr>
        <th>Device ID</th>
        <th>Cycles</th>
    </tr>
    </thead>
  {% for device in data.index.leves[0] %}
  <tr>
    <th scope="row"> {{device}}</th>
    <td>{{data.loc[device].to_html()|safe}}</td>
  </tr>
  {% endfor %}
  </table>
</div>
{% endblock %}

{% block script %}
{% include 'includes/_data_table.html' %}
{% endblock script %}