.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#titlebar {
    font-size: 2rem;
    font-weight: 500;
    background: white;
    padding: 10px;
    z-index: -1;
}

.dataTable th {
    text-align: center;
}

.dataTable td {
    text-align: center;
}

.dataTable thead {
    background-color: #343a40;
    border-color: #454d55;
    color: white;
}

.site-header {
    background: linear-gradient(
        rgba(68, 54, 54, 0.85),
        rgba(141, 123, 123, 0.85) 75%);
}

.error-table {
    background-color: white;
    font-size: 12px;
    width:100%;
}

.table i {
    margin: auto;
    height: 25px;
    width: 25px;
    vertical-align: middle;
    line-height: 25px;
    border-radius: 5px;
    color: white;
}

.error-table thead {
    color: #555;
    background-color: white;
}

.log-filename {
    color: #a5a5a5;
    font-weight: bold;
}

.TRACE {
    font-weight: bold;
    color: #87AFFF;
}

.DEBUG {
    font-weight: bold;
    color: green;
}

.INFO {
    font-weight: bold;
    color: black;
}

.WATCHDOG_INFO {
    font-weight: bold;
    color: #0f66ff;
}

.WARNING {
    font-weight: bold;
    color: orange;
}

.ERROR {
    font-weight: bold;
    color: red;
}

.CRITICAL {
    font-weight: bold;
    color: #AF0000;
}

.NORM {
    background-color: #d5d5d5;
}

.FULL {
    background-color: #b3d67e;
}

.NORM:hover {
    background-color: #a5a5a5;
}

.FULL:hover {
    background-color: #88b04b;
}

.ON {
    background-color: #b3d67e;
}

.OFF {
    background-color: #d5d5d5;
}

.HEALTHY {
    color: white;
    background-color: #b3d67e;
}

.IN_TROUBLE {
    color: white;
    background-color: #ff8d00;
}

.SICK {
    color: white;
    background-color: #fb6671;
}

table .deviceMode {
    height: 25px;
    vertical-align: middle;
    line-height: 25px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.dataTable #head_device {
    cursor: pointer;
}

.label {
    white-space: nowrap;
    padding-left:1em;
    padding-right:10px;
}


#toolbar {
    padding-top:4px;
    padding-bottom:4px;
    margin:0px;
    background-color:white;
}

#toolbar .btn-group {
    margin-top: 8px;
    margin-bottom: 8px;
    align-items: center;
}
