{% extends 'layout.html' %}

{% block page_title %}
<h1>Latest environment sensor readings</h1>
{% endblock %}

{% block body %}
<div id="content">
<table id="data-table", class="table">
    <thead class="thead-dark">
    <tr>
        <th>Device ID</th>
        <th><a href="sensors/temperature">Temperature</a></th>
        <th><a href="sensors/humidity">Humidity</a></th>
        <th><a href="sensors/pressure">Pressure</a></th>
        <th><a href="sensors/gas">Gas</a></th>
        <th><a href="sensors/brightness">Brightness</a></th>
        <!--<th>Loundness</th>-->
    </tr>
    </thead>
    {% for ptl in sensors%}
    <tr>
        <th scope="row"> {{_str(ptl.device)}}</th>
        <td> {{ptl.temperature|unit(unit=ptl.temperature_unit)}}</td>
        <td> {{ptl.humidity|unit(unit=ptl.humidity_unit)}}</td>
        <td> {{ptl.pressure|unit(unit=ptl.pressure_unit)}}</td>
        <td> {{ptl.gas|str}} {{ptl.gas_amount|unit(unit=ptl.gas_unit)}}</td>
        <td> {{ptl.brightness|unit(unit=ptl.brightness_unit)}}</td>
        <!--<td> {{_unit(ptl.loudness, ptl.loudness_unit)}}</td>-->
    </tr>
    {% endfor %}
</table>
</div>
{% endblock body %}

{% block script %}
{% include 'includes/_data_table.html' %}
{% endblock script %}